.pockets-page {
    font-family: "Inter", sans-serif;
    margin: 2rem 0;
}

/* balance section */
.available-balance-card {
    background-color: #4B4A38;
    padding: 15px;
    margin: 1rem 0;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.available-balance-card h3 {
    margin: 0;
    font-weight: 500;
}

.wallet-button-container {
    display: flex;
    align-items: flex-end;
}

.wallet-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.wallet-button img {
    width: 32px;
}