.income-dashboard {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    background-color: #4b4a38;
    color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem 0;
    justify-content: center;
}

.income-dashboard h2 {
    margin: 0rem 0;
}

.income-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.navigation-controls button {
    margin-right: 0.4rem;  
    border: none;
    border-radius: 100%;
    padding-top: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.navigation-controls span {
    margin-right: 0.4rem;
    font-family: "Josefin Sans", sans-serif;
}

.filter-controls * {
    margin-right: 0.2rem;
    border: 1px solid #000;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 4px;
    outline: none;
}

.charts-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    margin-top: 1rem;
    gap: 1rem;
}

.pie-chart-card {
    width: 50%;
    height: 250px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 0.5rem;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
}   

.pie-chart-card canvas {
    align-self: center;
    height: 200px;
}

.pie-chart-percentage {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pie-chart-percentage p {
    margin: 0;
}

.bar-chart-card {
    width: 50%;
    height: 250px;
    background-color: #2e2e2e;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;

}

