/* src/components/incomeStyles/IncomeHistory.css */

.income-history {
  margin: 1rem 0rem;
  font-family: "Inter", sans-serif;
  border: 1px solid #ddd;
  color: #fff;
  background-color: #4b4a38;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.income-history h2 {
  padding: 15px;
  font-family: "Inter", sans-serif;
  background-color: #4b4a38;
  color: #fff;
  margin: 0;
}

.income-history table {
  width: calc(100% - 2rem);
  margin: 1rem;
  margin-top: 0;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #fff;
  background-color: #2e2e2e;
  border-collapse: collapse;
}

.income-history th,
.income-history td {
  padding: 8px;
  text-align: left;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

.income-history th {
  background-color: #2e2e2e;
  font-weight: bold;
  color: #fff;
  padding: 10px;
}

.income-history tr {
  background-color: #2e2e2e;
  border: 1px solid #fff;
  font-family: "Inter", sans-serif;
}

.income-history tr:hover {
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.income-history td {
  color: #fff;
}

.income-history tr:last-child td {
  border-bottom: none;
}

#income-amount {
  color: #0aac12 ;
  text-align: left;
}

#income-date {
  color: #71d6d6;
}

/* Modal styles */
.income-edit-modal {
  font-family: "Inter", sans-serif;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.repeat-checkbox {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 80%;
  align-items: flex-start;
  text-align: left;
}

.income-edit-modal .modal-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.income-edit-modal h3 {
  margin-top: 0;
  text-align: center;
}

.income-edit-modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.income-edit-modal p {
  margin: 0;
}

.income-edit-modal form input {
  width: 80%;
  text-align: left;
}

.income-edit-modal form select {
  width: 85%;
}

.income-edit-modal form label {
  font-size: 0.7rem;
  width: 50%;
}

.income-edit-modal input[type='number'],
.income-edit-modal select {
  padding: 5px;
  font-size: 0.8rem;
}

.income-edit-modal .modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.income-edit-modal button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

.income-edit-modal button:nth-child(1) {
  background-color: #4CAF50; /* Green for Update */
}

.income-edit-modal button:nth-child(2) {
  background-color: #f44336; /* Red for Delete */
}

.income-edit-modal button:nth-child(3) {
  background-color: #888; /* Gray for Close */
}

.income-edit-modal button:hover {
  opacity: 0.9;
}

.income-edit-modal button:active {
  transform: scale(0.98);
}


#expense-amount {
  color: #fa4646;
}