.income-page {
    font-family: "Inter", sans-serif;
}

.income-page h1 {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    background-color: #4b4a38;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}