/* LoadingPage.css */
.loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loading-logo {
    width: 150px; /* Adjust the size as needed */
    margin-bottom: 20px; /* Space between logo and loader */
  }
  
  .loader {
    display: block;
    position: relative;
    height: 12px;
    width: 80%;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e0e0e0; /* Background color of the loader */
  }
  
  .loader-progress {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #4B4A38;
    transition: width 0.5s ease;
  }
  