@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: 'Segoe UI';
    src: url('/fonts/Segoe\ UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/fonts/Segoe\ UI\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/fonts/Segoe\ UI\ Bold\ Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/fonts/Segoe\ UI\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    background-color: #FBFAE8;
}

.cancel-button {
    font-family: "Inter", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff4c4c;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
  
.confirm-button {
    font-family: "Inter", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0AC878;
    font-weight: 600;
    color: #2e2e2e;
    cursor: pointer;
    transition: all 0.3s;
}

.confirm-button:hover {
    background-color: #2e2e2e;
    color: #fff;
}

.cancel-button:hover {
    background-color: #ff0000;
    color: #2e2e2e;
}