.toggle-button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2C2C2C;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.toggle-button.active {
  background-color: #2C2C2C;
  color: #fff;
}

.toggle-button:disabled {
  cursor: not-allowed;
  background-color: transparent;
  color: #000;
}
